pkgbase = znote-bin
	pkgdesc = A Beautiful markdown editor inspired by Jupyter.(Prebuilt version.Use system-wide electron)
	pkgver = 4.6.0
	pkgrel = 1
	url = https://znote.io
	arch = aarch64
	arch = x86_64
	license = LicenseRef-custom
	depends = electron36
	provides = znote=4.6.0
	conflicts = znote
	source = LICENSE-4.6.0.html::https://znote.io/cgu.html
	source = znote.sh
	sha256sums = 65dff9c234613d5ca892f8a52b54de23fcf3b9f996d51651bc611aca239ef606
	sha256sums = a774c2f54fbbeeaac3cefc0f7250796d30c86d27f0fd40b7eaf9c0fdb021623d
	source_aarch64 = znote-4.6.0-aarch64.AppImage::https://github.com/alagrede/znote-app/releases/download/v4.6.0/znote-4.6.0-arm64.AppImage
	sha256sums_aarch64 = 602d6ab9f34868f80c91cf9e47b578e98fa9da22cb4b6f4eb014ab35c012181f
	source_x86_64 = znote-4.6.0-x86_64.AppImage::https://github.com/alagrede/znote-app/releases/download/v4.6.0/znote-4.6.0.AppImage
	sha256sums_x86_64 = 8b8796836bf7fdd26f0cc29b2c926e967112bbd66fe8793906c827a4c2bf4467

pkgname = znote-bin
