pkgbase = lvce-bin
	pkgdesc = VS Code inspired text editor that mostly runs in a webworker.(Prebuilt version.Use system-wide electron)
	pkgver = 0.100.13
	pkgrel = 1
	url = https://lvce-editor.github.io/lvce-editor
	arch = aarch64
	arch = armv7h
	arch = x86_64
	license = MIT
	depends = electron43
	depends = nodejs
	provides = lvce=0.100.13
	conflicts = lvce
	options = !strip
	options = !emptydirs
	source = lintian-lvce
	source = lvce.sh
	sha256sums = ada1a0303abece27be80372538645da5c5b4e9d60fcacc87b97da1c26b8931bc
	sha256sums = a774c2f54fbbeeaac3cefc0f7250796d30c86d27f0fd40b7eaf9c0fdb021623d
	source_aarch64 = lvce-0.100.13-aarch64.deb::https://github.com/lvce-editor/lvce-editor/releases/download/v0.100.13/lvce-v0.100.13_arm64.deb
	sha256sums_aarch64 = 8e0418482a05ede5eb0567a9f6c4c492247ee9f9528381b6cc9cbb2a5dbdeced
	source_armv7h = lvce-0.100.13-armv7h.deb::https://github.com/lvce-editor/lvce-editor/releases/download/v0.100.13/lvce-v0.100.13_armhf.deb
	sha256sums_armv7h = 34ade24350587cef0e634d91d15f9b1d34bc91202c253e946675e80283424cd5
	source_x86_64 = lvce-0.100.13-x86_64.deb::https://github.com/lvce-editor/lvce-editor/releases/download/v0.100.13/lvce-v0.100.13_amd64.deb
	sha256sums_x86_64 = 62834a3db86f2b098962acccdd6a7a0b54e97bd12ac1484a2d58f10170daea96

pkgname = lvce-bin
