pkgbase = zcode-bin
	pkgdesc = ZCode - AI-powered code editor by ZAI (Prebuilt version.Use system-wide electron)
	pkgver = 3.7.5
	pkgrel = 1
	url = https://zcode.z.ai/
	arch = aarch64
	arch = x86_64
	license = LicenseRef-ZCode
	makedepends = asar
	depends = electron41
	depends = python
	depends = python-reportlab
	depends = python-lxml
	depends = python-pillow
	depends = python-defusedxml
	depends = libstdc++
	depends = nodejs
	depends = libgcc
	depends = ripgrep
	depends = bfs
	depends = ugrep
	options = !strip
	source = LICENSE.html::https://zcode.z.ai//en/privacy
	source = zcode.sh
	sha256sums = 38c716c8a353d94b539d7d32391f7fc435022f2ebf20a2920eeb79691cd15964
	sha256sums = a774c2f54fbbeeaac3cefc0f7250796d30c86d27f0fd40b7eaf9c0fdb021623d
	source_aarch64 = zcode-3.7.5-aarch64.deb::https://cdn-zcode.z.ai/zcode/electron/releases/3.7.5/linux-arm64/ZCode-3.7.5-linux-arm64.deb
	sha256sums_aarch64 = c8a165f2dab1a1ec1c03a92129474e67753507cb873cb17071231a53f22ea7ad
	source_x86_64 = zcode-3.7.5-x86_64.deb::https://cdn-zcode.z.ai/zcode/electron/releases/3.7.5/linux-x64/ZCode-3.7.5-linux-x64.deb
	sha256sums_x86_64 = d3a7a7a07a8512d01c2d4b242644ae673028038f614567a854b940bbdf8da43e

pkgname = zcode-bin
