pkgbase = workbuddy
	pkgdesc = Work Smart，Not Hard
	pkgver = 5.4.7.37521366_b148bd1d
	pkgrel = 100
	url = https://www.codebuddy.ai/agents
	arch = aarch64
	arch = x86_64
	license = LicenseRef-custom
	makedepends = 7zip
	makedepends = npm
	makedepends = libicns
	makedepends = asar
	makedepends = python
	makedepends = sqlite
	makedepends = nvm
	depends = electron42
	depends = nodejs
	depends = python
	depends = python-httpx
	depends = python-requests
	depends = python-numpy
	depends = python-pillow
	depends = python-click
	depends = python-beautifulsoup4
	optdepends = nodejs-lts: frontend skills
	optdepends = gnome-shell-extension-appindicator
	noextract = better-sqlite3.tgz
	noextract = node-pty.tgz
	options = !strip
	options = !emptydirs
	source = workbuddy-5.4.7.37521366_b148bd1d-x86_64.dmg::https://download.codebuddy.cn/workbuddy/saas/darwin-x64/WorkBuddy-darwin-x64-5.4.7.37521366-b148bd1d.dmg
	source = workbuddy.desktop
	source = better-sqlite3.tgz::https://registry.npmmirror.com/better-sqlite3/-/better-sqlite3-12.8.0.tgz
	source = node-pty.tgz::https://registry.npmmirror.com/@lydell/node-pty/-/node-pty-1.2.0-beta.14.tgz
	source = workbuddy.sh
	sha256sums = cd72489d8a72f6b30fbf314be95f2600dbe23aa01445eacf11c3159b37a07da8
	sha256sums = c7d14a0303000dfac2bbb31e82916814cccfbeddb9d4c0c5d08f8d344d27f07a
	sha256sums = 2602a5726d0a9d8e6be407c59bc125e605110eda8e3b04e7ef8d6ddf762c9122
	sha256sums = eee8e260e43b96aa5450f4c95f05de1b48ab24fcb3d4ef566232ec9ccff2e39e
	sha256sums = a774c2f54fbbeeaac3cefc0f7250796d30c86d27f0fd40b7eaf9c0fdb021623d

pkgname = workbuddy
