pkgbase = workbuddy
	pkgdesc = Work Smart，Not Hard
	pkgver = 5.3.11.35348084
	pkgrel = 1
	url = https://www.codebuddy.ai/agents
	arch = aarch64
	arch = x86_64
	license = LicenseRef-custom
	makedepends = 7zip
	makedepends = npm
	makedepends = libicns
	makedepends = asar
	makedepends = python
	makedepends = sqlite
	makedepends = nvm
	depends = electron42
	optdepends = nodejs-lts: frontend skills
	optdepends = gnome-shell-extension-appindicator
	options = !strip
	options = !emptydirs
	source = workbuddy-5.3.11.35348084-x86_64.dmg::https://download.codebuddy.cn/workbuddy/saas/darwin-x64/WorkBuddy-darwin-x64-5.3.11.35348084-45487630.dmg
	source = workbuddy.desktop
	source = workbuddy.sh
	sha256sums = c31aa58f9c7b79bf1ca9db1d8a44df57b061974c25689680084a8f09bd5badf3
	sha256sums = c7d14a0303000dfac2bbb31e82916814cccfbeddb9d4c0c5d08f8d344d27f07a
	sha256sums = a774c2f54fbbeeaac3cefc0f7250796d30c86d27f0fd40b7eaf9c0fdb021623d

pkgname = workbuddy
