pkgbase = workbuddy
	pkgdesc = Work Smart，Not Hard
	pkgver = 5.5.1.37570276
	pkgrel = 100
	url = https://www.codebuddy.ai/agents
	arch = aarch64
	arch = x86_64
	license = LicenseRef-custom
	makedepends = 7zip
	makedepends = npm
	makedepends = libicns
	makedepends = asar
	makedepends = python
	makedepends = sqlite
	makedepends = nvm
	depends = electron42
	depends = nodejs
	depends = python
	depends = python-httpx
	depends = python-requests
	depends = python-numpy
	depends = python-pillow
	depends = python-click
	depends = python-beautifulsoup4
	optdepends = nodejs-lts: frontend skills
	optdepends = gnome-shell-extension-appindicator
	noextract = better-sqlite3.tgz
	noextract = node-pty.tgz
	noextract = snappy-linux-x64-gnu.node
	noextract = snappy-linux-x64-musl.node
	noextract = sandbox-cli-linux-x64.tgz
	options = !strip
	options = !emptydirs
	source = workbuddy-5.5.1.37570276-x86_64.dmg::https://download.codebuddy.cn/workbuddy/saas/darwin-x64/WorkBuddy-darwin-x64-5.5.1.37570276-9af62480.dmg
	source = workbuddy.desktop
	source = better-sqlite3.tgz::https://registry.npmmirror.com/better-sqlite3/-/better-sqlite3-13.0.3.tgz
	source = node-pty.tgz::https://registry.npmmirror.com/@lydell/node-pty/-/node-pty-1.2.0-beta.14.tgz
	source = snappy-linux-x64-gnu.node::https://github.com/Brooooooklyn/snappy/releases/download/v7.3.3/snappy.linux-x64-gnu.node
	source = snappy-linux-x64-musl.node::https://github.com/Brooooooklyn/snappy/releases/download/v7.3.3/snappy.linux-x64-musl.node
	source = sandbox-cli-linux-x64.tgz::https://mirrors.cloud.tencent.com/npm/@tencent-ai/sandbox-cli-linux-x64/-/sandbox-cli-linux-x64-5.5.6.tgz
	source = workbuddy.sh
	sha256sums = 611b576446bb77f0364e0d385e86f142ced2e054b2d507fcc7cf9fb20dec873e
	sha256sums = c7d14a0303000dfac2bbb31e82916814cccfbeddb9d4c0c5d08f8d344d27f07a
	sha256sums = 77e0513dc1a469fb3bceec4c7fb5ad3f403109787eda05be047ec17fd56868cb
	sha256sums = eee8e260e43b96aa5450f4c95f05de1b48ab24fcb3d4ef566232ec9ccff2e39e
	sha256sums = 42ac694666e35e21b96d09c374b89918acd7d95297d1adfd9d31edb4fb7a5ebb
	sha256sums = 31eb00fd08d44f3379d51074159bae843ed94c84c2c83dc13612e3664627084e
	sha256sums = 9011a2f83532ca9d1a95c8172e292a9cc57da3af2c5417cf380aef76e3b4f881
	sha256sums = a774c2f54fbbeeaac3cefc0f7250796d30c86d27f0fd40b7eaf9c0fdb021623d

pkgname = workbuddy
