pkgbase = markflowy-bin
	pkgdesc = Modern markdown editor application, Build fast and efficient workflows.(Prebuilt version)
	pkgver = 0.86.0
	pkgrel = 1
	url = https://markflowy.vercel.app/
	arch = x86_64
	license = AGPL-3.0-only
	depends = gtk3
	depends = webkit2gtk-4.1
	provides = markflowy=0.86.0
	conflicts = markflowy
	source = markflowy-0.86.0.rpm::https://github.com/drl990114/MarkFlowy/releases/download/v0.86.0/MarkFlowy-0.86.0-1.x86_64.rpm
	sha256sums = f0c05c5bcb31281c4f92e1e085e5580761e4a3137e15986f50e35bc23e10b0a3

pkgname = markflowy-bin
