pkgbase = image-metahub-bin
	pkgdesc = A desktop application for browsing, searching, and organizing AI-generated images locally. Designed for performance with large collections, focusing on powerful metadata filtering and complete privacy.(Prebuilt version.Use system-wide electron)
	pkgver = 0.18.1
	pkgrel = 1
	url = https://imagemetahub.com/
	arch = x86_64
	license = MPL-2.0
	depends = electron38
	provides = image-metahub=0.18.1
	conflicts = image-metahub
	source = image-metahub-0.18.1-x86_64.AppImage::https://github.com/LuqP2/Image-MetaHub/releases/download/v0.18.1/Image.MetaHub-0.18.1.AppImage
	source = image-metahub.sh
	sha256sums = 3bbd79742b8261ba5bb370c78007c58f28d46862ccda5d5e588a88b4ebdce662
	sha256sums = a774c2f54fbbeeaac3cefc0f7250796d30c86d27f0fd40b7eaf9c0fdb021623d

pkgname = image-metahub-bin
