pkgbase = trae-bin
	pkgdesc = AI-powered IDE by ByteDance - The Real AI Engine for code development
	pkgver = 2.3.73738
	pkgrel = 99
	url = https://trae.ai
	arch = x86_64
	license = MIT
	depends = gtk3
	depends = nss
	depends = alsa-lib
	depends = libxkbcommon
	depends = python-importlib-metadata
	depends = python-fonttools
	depends = perl
	depends = libxkbfile
	depends = webkit2gtk-4.1
	depends = libsecret
	depends = zeromq
	depends = python-packaging
	depends = python-typing_extensions
	depends = python
	depends = nodejs
	optdepends = libvulkan: Vulkan support
	provides = trae
	conflicts = trae
	source = trae.deb::https://lf-cdn.trae.ai/obj/trae-ai-us/pkg/app/releases/stable/2.3.73738/linux/TraeCode-linux-x64.deb
	sha256sums = bdd45584a471c7cf98d092c529681703b1585cb275a893633f429a8eea0094db

pkgname = trae-bin
