pkgbase = trae-cn-bin
	pkgdesc = TRAE CN 桌面客户端（预编译二进制包）
	pkgver = 2.3.78542
	pkgrel = 99
	url = https://www.trae.cn/
	arch = x86_64
	license = LicenseRef-custom
	makedepends = librsvg
	depends = gtk3
	depends = nss
	depends = libxkbfile
	depends = libsecret
	depends = alsa-lib
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxrandr
	depends = pango
	depends = cairo
	depends = at-spi2-core
	depends = glib2
	depends = expat
	depends = nspr
	depends = dbus
	depends = libxkbcommon
	depends = mesa
	depends = python
	depends = python-fonttools
	depends = python-importlib-metadata
	depends = python-typing_extensions
	depends = python-packaging
	depends = webkit2gtk-4.1
	depends = nodejs
	depends = ffmpeg
	depends = ripgrep
	optdepends = vulkan-icd-loader: 启用 Vulkan 加速
	provides = trae-cn
	conflicts = trae-cn
	options = !emptydirs
	source = trae-cn-2.3.78542.rpm::https://lf-cdn.trae.com.cn/obj/trae-com-cn/pkg/app/releases/stable/2.3.78542/linux/TraeCode_CN-linux-x64.rpm
	sha256sums = 8503d199264ea3d1635a57caf460aefaa56bf1beb45942fec1124b07cad0f017

pkgname = trae-cn-bin
