pkgbase = trae-cn-bin
	pkgdesc = TRAE CN 桌面客户端（预编译二进制包）
	pkgver = 2.3.68992
	pkgrel = 99
	url = https://www.trae.cn/
	arch = x86_64
	license = LicenseRef-custom
	makedepends = librsvg
	depends = gtk3
	depends = nss
	depends = libxkbfile
	depends = libsecret
	depends = alsa-lib
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxrandr
	depends = pango
	depends = cairo
	depends = at-spi2-core
	depends = glib2
	depends = expat
	depends = nspr
	depends = dbus
	depends = libxkbcommon
	depends = mesa
	depends = python
	depends = python-fonttools
	depends = python-importlib-metadata
	depends = python-typing_extensions
	depends = python-packaging
	depends = webkit2gtk-4.1
	depends = nodejs
	depends = ffmpeg
	depends = ripgrep
	optdepends = vulkan-icd-loader: 启用 Vulkan 加速
	provides = trae-cn
	conflicts = trae-cn
	options = !emptydirs
	source = trae-cn-2.3.68992.rpm::https://lf-cdn.trae.com.cn/obj/trae-com-cn/pkg/app/releases/stable/2.3.68992/linux/TraeCode_CN-linux-x64.rpm
	sha256sums = dee8c647b8a2cbb59f94058cadbbe19adf1d7b0363e875fbcddc0409d4784bbc

pkgname = trae-cn-bin
