pkgbase = clash-verge-rev-bin
	pkgdesc = Continuation of Clash Verge | A Clash Meta GUI based on Tauri.
	pkgver = 2.5.8
	pkgrel = 99
	url = https://www.clashverge.dev/
	arch = aarch64
	arch = armv7h
	arch = x86_64
	license = GPL-3.0-only
	depends = webkit2gtk-4.1
	depends = gtk3
	depends = libayatana-appindicator
	provides = clash-verge-rev=2.5.8
	conflicts = clash-verge-rev
	conflicts = clash-verge-rev-bin
	conflicts = clash-verge
	options = !strip
	source_aarch64 = clash-verge-rev-2.5.8-aarch64.rpm::https://github.com/clash-verge-rev/clash-verge-rev/releases/download/v2.5.8/Clash.Verge-2.5.8-1.aarch64.rpm
	sha512sums_aarch64 = 603c56ab5d753747c150ce146d8cbcdaa9d626bda52bfbd3acf562dac8768131be5a3c384fe0bc02c819f283f3d3d0dfc6d6b0e2c83c6200219405aad0d6bcf6
	source_armv7h = clash-verge-rev-2.5.8-armv7h.rpm::https://github.com/clash-verge-rev/clash-verge-rev/releases/download/v2.5.8/Clash.Verge-2.5.8-1.armhfp.rpm
	sha512sums_armv7h = feb9ce5d8a43b1dc54854bd27aa42437b8d5eb278c217b9314289d2e661fa214549f514480f42474a54f919a60b5ebb893ef71940c842c7de615a83371755563
	source_x86_64 = clash-verge-rev-2.5.8-x86_64.rpm::https://github.com/clash-verge-rev/clash-verge-rev/releases/download/v2.5.8/Clash.Verge-2.5.8-1.x86_64.rpm
	sha512sums_x86_64 = 627d5d8074708cabcf0e7fba9fd2bbcf7129bab71bb611497bf6815760d899cc85e870cc1a3cba50dd17b53ab255daa8e144e9d42b55e46036c8c42feb064a24

pkgname = clash-verge-rev-bin
