pkgbase = workbuddy-bin
	pkgdesc = Work Smart，Not Hard
	pkgver = 5.5.4
	pkgrel = 1
	url = https://www.workbuddy.cn/
	arch = x86_64
	license = AGPL-3.0-only
	depends = electron39
	depends = nodejs
	depends = python
	depends = python-click
	depends = python-httpx
	depends = python-requests
	depends = python-numpy
	depends = python-beautifulsoup4
	depends = python-pillow
	provides = workbuddy=5.5.4
	conflicts = workbuddy
	options = !strip
	options = !emptydirs
	source = workbuddy.sh
	sha256sums = a774c2f54fbbeeaac3cefc0f7250796d30c86d27f0fd40b7eaf9c0fdb021623d
	source_x86_64 = workbuddy-5.5.4-x86_64.deb::https://github.com/kota-rina3/hokeshi/releases/download/workbuddy-5.5.4/cn.workbuddy.otohime_5.5.4_amd64.deb
	sha256sums_x86_64 = 273e5903b1c52a681810e26b580780aa6b0dc521f822f761105351058ec2e683

pkgname = workbuddy-bin
