pkgbase = eagle-animation-bin
	pkgdesc = An awesome, free and open-source animation software.(Prebuilt version.Use system-wide electron)
	pkgver = 2.18.2
	pkgrel = 1
	url = https://brickfilms.com/
	arch = x86_64
	license = GPL-3.0-only
	depends = electron43
	depends = ffmpeg
	depends = nodejs
	depends = libxcrypt-compat
	provides = eagle-animation=2.18.2
	conflicts = eagle-animation
	source = eagle-animation-2.18.2.rpm::https://github.com/brick-a-brack/eagle-animation/releases/download/v2.18.2/eagle-animation-2.18.2-linux.rpm
	source = eagle-animation.sh
	sha256sums = a627d93a67ac0f8c624bb563b5413aa42869338824fa335ee679a6de1ff5e67a
	sha256sums = a774c2f54fbbeeaac3cefc0f7250796d30c86d27f0fd40b7eaf9c0fdb021623d

pkgname = eagle-animation-bin
