pkgbase = electron44-bin
	pkgdesc = Build cross platform desktop apps with web technologies — prebuilt
	pkgver = 44.0.0beta.2
	pkgrel = 1
	url = https://electronjs.org
	arch = aarch64
	arch = x86_64
	license = MIT
	license = LicenseRef-custom
	depends = alsa-lib
	depends = gtk3
	depends = nss
	optdepends = kde-cli-tools: file deletion support (kioclient5)
	optdepends = pipewire: WebRTC desktop sharing under Wayland
	optdepends = qt6-base: enable Qt6 with --enable-features=AllowQt
	optdepends = gtk4: for --gtk-version=4 (GTK4 IME might work better on Wayland)
	optdepends = trash-cli: file deletion support (trash-put)
	optdepends = xdg-utils: open URLs with desktop's default (xdg-email, xdg-open)
	provides = electron44=44.0.0beta.2
	conflicts = electron44
	noextract = electron44-chromedriver-44.0.0beta.2-x86_64.zip
	noextract = electron44-44.0.0beta.2-x86_64.zip
	source = electron44.sh
	sha256sums = ac1e26684ffbfc7ac0993c55b9299003f6b9efea25b755b1d260bea4db440157
	source_aarch64 = electron44-chromedriver-44.0.0beta.2-aarch64.zip::https://github.com/electron/electron/releases/download/v44.0.0-beta.2/chromedriver-v44.0.0-beta.2-linux-arm64.zip
	source_aarch64 = electron44-44.0.0beta.2-aarch64.zip::https://github.com/electron/electron/releases/download/v44.0.0-beta.2/electron-v44.0.0-beta.2-linux-arm64.zip
	sha256sums_aarch64 = ac5b0a7e56beba8db10288a0fc6a9b4e056503fd825ac2aec10a0cdf0d28d25a
	sha256sums_aarch64 = eb694a2a57c26d71c7a5963c9b30661727400d6636dffc3278299417e29f6670
	source_x86_64 = electron44-chromedriver-44.0.0beta.2-x86_64.zip::https://github.com/electron/electron/releases/download/v44.0.0-beta.2/chromedriver-v44.0.0-beta.2-linux-x64.zip
	source_x86_64 = electron44-44.0.0beta.2-x86_64.zip::https://github.com/electron/electron/releases/download/v44.0.0-beta.2/electron-v44.0.0-beta.2-linux-x64.zip
	sha256sums_x86_64 = 4697e493d5506b9dbd2de99425be825f01aa4c13b6dc133a93d73daaf76184a3
	sha256sums_x86_64 = 18b73841a623ee908ce8f5f0ed8237ee2354150052b1c3915034194cf3c643c1

pkgname = electron44-bin
