pkgbase = 115-browser-bin
	pkgdesc = 115 Browser / 115 浏览器
	pkgver = 36.0.1
	pkgrel = 99
	url = https://115.com/product_browser
	arch = x86_64
	license = LicenseRef-scancode-commercial-license
	depends = expat
	depends = libidn2
	depends = libcups
	depends = mesa
	depends = nss
	depends = at-spi2-core
	depends = nspr
	depends = alsa-lib
	depends = libxrandr
	depends = cairo
	depends = libxkbcommon
	depends = libxdamage
	depends = libxcomposite
	depends = pango
	depends = qt5-base
	depends = qt6-base
	provides = 115-browser
	conflicts = 115-browser
	options = !strip
	options = !debug
	source = 115-browser-36.0.1.deb::https://down.115.com/client/115pc/lin/115br_v36.0.1.deb
	source = LICENSE.html::http://115.com/privacy.html
	source = 115-browser.sh
	sha256sums = a26f84625b5c1ca1a7f6e2eb5a89327c49627fb7f04db1b71e27c48904b88d8b
	sha256sums = 7a1c438a53cd10ad78b9ea150521f12e6d97e10cf07f07d38d4f0a65f22cafcf
	sha256sums = 1bb3391bfe0f0a76d96ae3fcec1d7e981384e9536cec06009dfe5348b4d2b7c9

pkgname = 115-browser-bin
