pkgbase = drawpen-bin
	pkgdesc = A simple screen annotation.(Prebuild version.Use system-wide electron)
	pkgver = 0.0.56
	pkgrel = 1
	url = https://github.com/DmytroVasin/DrawPen
	arch = x86_64
	license = MIT
	depends = electron40
	provides = drawpen=0.0.56
	conflicts = drawpen
	options = !emptydirs
	source = drawpen-0.0.56.rpm::https://github.com/DmytroVasin/DrawPen/releases/download/v0.0.56/drawpen-0.0.56-1.x86_64.rpm
	source = drawpen.sh
	sha256sums = 90c52b96203c85699da4f6c87fdc0dc66ed379f571b865791f153430cb6bb200
	sha256sums = a774c2f54fbbeeaac3cefc0f7250796d30c86d27f0fd40b7eaf9c0fdb021623d

pkgname = drawpen-bin
