pkgbase = letos-bin
	pkgdesc = A free, open source, multi-platform SQLite database manager.(Prebuilt version)
	pkgver = 4.0.2
	pkgrel = 1
	url = https://letos.org/
	arch = aarch64
	arch = x86_64
	license = GPL-3.0-only
	depends = qt6-base
	depends = gtk3
	depends = xcb-util-cursor
	depends = tcl
	provides = letos=4.0.2
	conflicts = letos
	options = !strip
	source = letos.sh
	sha256sums = 20628dc9251146409d2631a161d7e7e24d40e5c2555a5d170914c44420b40aea
	source_aarch64 = letos-4.0.2-aarch64.AppImage::https://github.com/pawelsalawa/letos/releases/download/4.0.2/Letos-4.0.2-aarch64.AppImage
	sha256sums_aarch64 = d3a340a256b4c78f95551d123450b9a15d95707941ac1783d9a1dbd8cfd3178e
	source_x86_64 = letos-4.0.2-x86_64.AppImage::https://github.com/pawelsalawa/letos/releases/download/4.0.2/Letos-4.0.2-x86_64.AppImage
	sha256sums_x86_64 = 4e0837511f7d6bed54460124166f6ff53fbf4cf6bf3d06359ce57ec656879b22

pkgname = letos-bin
