pkgbase = stockholm-trekkers-playlist-maker-bin
	pkgdesc = A desktop app for making specialized video playlists.(Prebuilt version)
	pkgver = 4.1.0
	pkgrel = 1
	url = https://github.com/VenaStrom/Stockholm-Trekkers-Playlist-Maker
	arch = x86_64
	license = MIT
	depends = gtk3
	depends = gdk-pixbuf2
	depends = webkit2gtk-4.1
	provides = stockholm-trekkers-playlist-maker=4.1.0
	conflicts = stockholm-trekkers-playlist-maker
	source = stockholm-trekkers-playlist-maker-4.1.0.deb::https://github.com/VenaStrom/Stockholm-Trekkers-Playlist-Maker/releases/download/v4.1.0/Stockholm.Trekkers.Playlist.Maker_4.1.0_amd64.deb
	sha256sums = 0fbd6184512c592621e5314ec93b1a69a3b52c86a1c16c3ef6361b8e9ffcf605

pkgname = stockholm-trekkers-playlist-maker-bin
