pkgbase = lx-music-desktop-bin
	pkgdesc = A music software based on Electron + Vue.一个基于 Electron + Vue 开发的音乐软件
	pkgver = 2.12.6
	pkgrel = 1
	url = https://lyswhut.github.io/lx-music-doc/
	arch = aarch64
	arch = armv7h
	arch = x86_64
	license = Apache-2.0
	depends = electron42
	provides = lx-music-desktop=2.12.6
	conflicts = lx-music-desktop
	conflicts = lx-music-desktop-electron
	source = lx-music-desktop.sh
	sha256sums = a774c2f54fbbeeaac3cefc0f7250796d30c86d27f0fd40b7eaf9c0fdb021623d
	source_aarch64 = lx-music-desktop-2.12.6-aarch64.deb::https://github.com/lyswhut/lx-music-desktop/releases/download/v2.12.6/lx-music-desktop_2.12.6_arm64.deb
	sha256sums_aarch64 = 72e5a8defec9618dad8055f7a33e821bb9af81c887f65d52c1402bd347937256
	source_armv7h = lx-music-desktop-2.12.6-armv7h.deb::https://github.com/lyswhut/lx-music-desktop/releases/download/v2.12.6/lx-music-desktop_2.12.6_armv7l.deb
	sha256sums_armv7h = 960715407b18782e69fd9f419e08d2bbb9f3e4e3918d5f8b300d4a8985372f7a
	source_x86_64 = lx-music-desktop-2.12.6-x86_64.deb::https://github.com/lyswhut/lx-music-desktop/releases/download/v2.12.6/lx-music-desktop_2.12.6_amd64.deb
	sha256sums_x86_64 = faa7ae107a106b7a1f82592de96f5756334262f8e4ebfddac90c893695a3fc50

pkgname = lx-music-desktop-bin
