pkgbase = sokuji-bin
	pkgdesc = Provide real-time simultaneous interpretation using OpenAI's Realtime API.(Prebuilt version.Use system-wide electron)
	pkgver = 0.36.1
	pkgrel = 1
	url = https://github.com/kizuna-ai-lab/sokuji
	arch = aarch64
	arch = x86_64
	license = AGPL-3.0-only
	depends = electron40
	depends = nodejs
	provides = sokuji=0.36.1
	conflicts = sokuji
	source = sokuji.sh
	sha256sums = a774c2f54fbbeeaac3cefc0f7250796d30c86d27f0fd40b7eaf9c0fdb021623d
	source_aarch64 = sokuji-0.36.1-aarch64.deb::https://github.com/kizuna-ai-lab/sokuji/releases/download/v0.36.1/sokuji_0.36.1_arm64.deb
	sha256sums_aarch64 = a67c091e580556b1b5bf63477b13d58507139b692079ae844d8d2d095cd7c7f9
	source_x86_64 = sokuji-0.36.1-x86_64.deb::https://github.com/kizuna-ai-lab/sokuji/releases/download/v0.36.1/sokuji_0.36.1_amd64.deb
	sha256sums_x86_64 = c92d1a1134913cde9cae2bb6d3190600cc38bf8f7d9391c46d554ec2f8a6695e

pkgname = sokuji-bin
