pkgbase = terraform-provider-alicloud-bin
	pkgdesc = Terraform AliCloud provider.(Prebuilt version)
	pkgver = 1.288.0
	pkgrel = 1
	url = https://www.terraform.io/docs/providers/alicloud/
	arch = aarch64
	arch = armv7h
	arch = i686
	arch = x86_64
	license = MPL-2.0
	depends = terraform
	provides = terraform-provider-alicloud=1.288.0
	conflicts = terraform-provider-alicloud
	source_aarch64 = terraform-provider-alicloud-1.288.0-aarch64.zip::https://github.com/aliyun/terraform-provider-alicloud/releases/download/v1.288.0/terraform-provider-alicloud_1.288.0_linux_arm64.zip
	sha256sums_aarch64 = 8be6da71de4167110d9ecf5dd6f887a816789a447e4c497618d2f264d9bb2af4
	source_armv7h = terraform-provider-alicloud-1.288.0-armv7h.zip::https://github.com/aliyun/terraform-provider-alicloud/releases/download/v1.288.0/terraform-provider-alicloud_1.288.0_linux_arm.zip
	sha256sums_armv7h = ba94563ff1dfe387f065e03da816357c29b0da8d699cdd4a70eb41ba34871a46
	source_i686 = terraform-provider-alicloud-1.288.0-i686.zip::https://github.com/aliyun/terraform-provider-alicloud/releases/download/v1.288.0/terraform-provider-alicloud_1.288.0_linux_386.zip
	sha256sums_i686 = 89f00a049d40e42c44ea6cb304a5485f872242c38b3626f2cdde04516236d437
	source_x86_64 = terraform-provider-alicloud-1.288.0-x86_64.zip::https://github.com/aliyun/terraform-provider-alicloud/releases/download/v1.288.0/terraform-provider-alicloud_1.288.0_linux_amd64.zip
	sha256sums_x86_64 = dd4b537ba16d86b9835b7aadfc503247bde6c49bdf03b9c9f4b3d38f9120d6a9

pkgname = terraform-provider-alicloud-bin
