pkgbase = opencode-desktop-bin
	pkgdesc = OpenCode desktop client
	pkgver = 1.18.22
	pkgrel = 99
	url = https://opencode.ai
	arch = aarch64
	arch = x86_64
	license = MIT
	depends = electron42
	optdepends = libappindicator-gtk3: tray icon support
	provides = opencode-desktop
	conflicts = opencode-desktop
	options = !debug
	source = LICENSE-1.18.22::https://raw.githubusercontent.com/anomalyco/opencode/v1.18.22/LICENSE
	source = opencode-desktop.sh
	sha256sums = 625f0f619133f89bbbb2abe37369613dfa1885eba1e50d02170deb62bb42cb6b
	sha256sums = a774c2f54fbbeeaac3cefc0f7250796d30c86d27f0fd40b7eaf9c0fdb021623d
	source_aarch64 = opencode-desktop-1.18.22-aarch64.deb::https://github.com/anomalyco/opencode/releases/download/v1.18.22/opencode-desktop-linux-arm64.deb
	sha256sums_aarch64 = cc1b4dd958c8d731817d32624765c95123ff82f4aa457f9b17c9f4361fadfb69
	source_x86_64 = opencode-desktop-1.18.22-x86_64.deb::https://github.com/anomalyco/opencode/releases/download/v1.18.22/opencode-desktop-linux-amd64.deb
	sha256sums_x86_64 = 9daab671ba2cd4e361be4b9b2c835e9e4d219e37fbbccaa45569a402a831c0a3

pkgname = opencode-desktop-bin
