pkgbase = codebuddy-ide-cn
	pkgdesc = 腾讯云代码助手CodeBuddy IDE，是一款辅助编码工具。
	pkgver = 4.11.3.37298507
	pkgrel = 99
	url = https://www.codebuddy.cn/ide/
	arch = x86_64
	license = LicenseRef-Tencent-CodeBuddy
	depends = electron37
	depends = nodejs
	depends = python
	depends = perl
	depends = python-fonttools
	depends = python-requests
	optdepends = bash
	optdepends = zsh
	options = !emptydirs
	options = !strip
	source = codebuddy-ide-cn-4.11.3.37298507.deb::https://download.codebuddy.cn/aiide/linux-x64/CodeBuddy-linux-x64-4.11.3.37298507-2345dde1-cn.deb
	source = codebuddy-ide-cn.js
	source = codebuddy-ide-cn.sh
	sha256sums = d0770a4563535226daace0a57f39812bc8a23aa758073a06fb77857efea888e8
	sha256sums = 7503a07a6b1ce191a902f9bb418da852c628940e7e864a85c49fb4712ab35f75
	sha256sums = 700067aa4b354a91ab3374b5495af9eb3093855a3d8016a8303e88abf3470599

pkgname = codebuddy-ide-cn
