pkgbase = codebuddy-ide-cn
	pkgdesc = 腾讯云代码助手CodeBuddy IDE，是一款辅助编码工具。
	pkgver = 4.10.4.33993995
	pkgrel = 99
	url = https://www.codebuddy.cn/ide
	arch = x86_64
	license = LicenseRef-Tencent-CodeBuddy
	depends = electron37
	depends = nodejs
	depends = python
	depends = perl
	depends = python-fonttools
	depends = python-requests
	optdepends = bash
	optdepends = zsh
	options = !emptydirs
	options = !strip
	source = codebuddy-ide-cn-4.10.4.33993995.deb::https://download.codebuddy.cn/aiide/linux-x64/CodeBuddy-linux-x64-4.10.4.33993995-1ba59196-cn.deb
	source = codebuddy-ide-cn.js
	source = codebuddy-ide-cn.sh
	sha256sums = 62bf225bc096751ad51ac2dcd63c0c71f5361e8d1e754639e9b55bd1f38f4605
	sha256sums = 7503a07a6b1ce191a902f9bb418da852c628940e7e864a85c49fb4712ab35f75
	sha256sums = 700067aa4b354a91ab3374b5495af9eb3093855a3d8016a8303e88abf3470599

pkgname = codebuddy-ide-cn
