pkgbase = codebuddy-ide-cn
	pkgdesc = 腾讯云代码助手CodeBuddy IDE，是一款辅助编码工具。
	pkgver = 4.11.2.36529961
	pkgrel = 99
	url = https://www.codebuddy.cn/ide/
	arch = x86_64
	license = LicenseRef-Tencent-CodeBuddy
	depends = electron37
	depends = nodejs
	depends = python
	depends = perl
	depends = python-fonttools
	depends = python-requests
	optdepends = bash
	optdepends = zsh
	options = !emptydirs
	options = !strip
	source = codebuddy-ide-cn-4.11.2.36529961.deb::https://download.codebuddy.cn/aiide/linux-x64/CodeBuddy-linux-x64-4.11.2.36529961-74e2511a-cn.deb
	source = codebuddy-ide-cn.js
	source = codebuddy-ide-cn.sh
	sha256sums = 32787d758f4be84e7fa29a6ced2d7a336d77fc689ff536bfa664b29a92c14a8b
	sha256sums = 7503a07a6b1ce191a902f9bb418da852c628940e7e864a85c49fb4712ab35f75
	sha256sums = 700067aa4b354a91ab3374b5495af9eb3093855a3d8016a8303e88abf3470599

pkgname = codebuddy-ide-cn
