[Desktop Entry]
Name=Comate - URL Handler
Comment=Code Editing. Redefined.
GenericName=Text Editor
Exec=comate --open-url %U
Icon=comate
Type=Application
NoDisplay=true
StartupNotify=true
Categories=Utility;TextEditor;Development;IDE;
MimeType=x-scheme-handler/comate;
Keywords=comate;