pkgbase = issie-bin
	pkgdesc = An intuitive cross-platform hardware design application.
	pkgver = 6.0.10
	pkgrel = 1
	url = https://tomcl.github.io/issie
	arch = aarch64
	arch = x86_64
	license = GPL-3.0-only
	makedepends = gendesk
	depends = gtk3
	depends = alsa-lib
	depends = nss
	depends = electron43
	noextract = issie-6.0.10-x86_64.zip
	source_aarch64 = issie-6.0.10-aarch64.zip::https://github.com/tomcl/issie/releases/download/v6.0.10/issie-6.0.10-linux-arm64.zip
	sha256sums_aarch64 = efe952eb44787fae32674a534c3ee5d6b11482445ee0bb56ee08e8f535a4a3c5
	source_x86_64 = issie-6.0.10-x86_64.zip::https://github.com/tomcl/issie/releases/download/v6.0.10/issie-6.0.10-linux-x64.zip
	sha256sums_x86_64 = e4c542e7d2b5dde48dd37c7996bd3b8d32e339754cf84a687e891b7f271999a9

pkgname = issie-bin
