pkgbase = dingtalk-bin
	pkgdesc = DingTalk,钉钉
	pkgver = 8.2.8.260904001
	pkgrel = 99
	url = https://www.dingtalk.com/
	arch = aarch64
	arch = x86_64
	license = LicenseRef-custom
	makedepends = patchelf
	depends = glu
	depends = libxcrypt-compat
	depends = qt5-tools
	depends = qt5-x11extras
	depends = qt5-multimedia
	depends = qt5-svg
	depends = ffmpeg
	depends = gtk3
	depends = alsa-lib
	depends = nss
	depends = nspr
	depends = libsm
	depends = libice
	depends = libxmu
	depends = libxt
	depends = fcitx5-qt
	depends = gtk2
	optdepends = zenity: fix crashes when downloading files, not required on kde.
	optdepends = libxss: fix tray icon functionality in gnome.
	optdepends = qt5-wayland: needed in wayland
	provides = com.alibabainc.dingtalk=8.2.8.260904001
	provides = dingtalk=8.2.8.260904001
	conflicts = com.alibabainc.dingtalk
	replaces = com.alibabainc.dingtalk
	source = dingtalk.svg
	source = dingtalk.sh
	sha256sums = b526f6da0d486daeaf52948e0557280b8c8898a20678319e41dd81f0702af73b
	sha256sums = 707251c07bbbbb756dc95fccfe92b191b4f1f6dc20670028bceac511fc747a53
	source_aarch64 = dingtalk-8.2.8.260904001-aarch64.deb::https://dtapp-pub.dingtalk.com/dingtalk-desktop/xc_dingtalk_update/linux_deb/Release/com.alibabainc.dingtalk_8.2.8.260904001_arm64.deb
	sha256sums_aarch64 = f5b6c2d75ea4cb51097272f3e7e83bd433a4d2eb96cacc3f8ee67b9955b292f4
	source_x86_64 = dingtalk-8.2.8.260904001-x86_64.deb::https://dtapp-pub.dingtalk.com/dingtalk-desktop/xc_dingtalk_update/linux_deb/Release/com.alibabainc.dingtalk_8.2.8.260904001_amd64.deb
	sha256sums_x86_64 = 5ccb839f9e30494983fa8a87c02d03b6e6915d1317f537e17d08cd897ac750b0

pkgname = dingtalk-bin
