pkgbase = mustang-bin
	pkgdesc = New full-featured desktop email, chat and video conference client.(Prebuilt version.Use system-wide electron)
	pkgver = 0.9.36
	pkgrel = 1
	url = https://mustang.im/
	arch = aarch64
	arch = x86_64
	license = LicenseRef-EUPL-1.2
	depends = electron41
	provides = mustang=0.9.36
	conflicts = mustang
	source = LICENSE-0.9.36::https://raw.githubusercontent.com/mustang-im/mustang/v0.9.36/LICENSE
	source = mustang.sh
	sha256sums = b235d2b5410c8a5f6d176a8dfbf3afaadb7165d27659285d1916fe7e0044aa89
	sha256sums = a774c2f54fbbeeaac3cefc0f7250796d30c86d27f0fd40b7eaf9c0fdb021623d
	source_aarch64 = mustang-0.9.36-aarch64.pacman::https://github.com/mustang-im/mustang/releases/download/v0.9.36/mustang-0.9.36-aarch64.pacman
	sha256sums_aarch64 = d945d832b8d084c834221ac0e02f2f7d70cccd4139b259a158d0cd079ce2267b
	source_x86_64 = mustang-0.9.36-x86_64.pacman::https://github.com/mustang-im/mustang/releases/download/v0.9.36/mustang-0.9.36.pacman
	sha256sums_x86_64 = 3ac751443bac5880fc0825ca0589175786ffe68e6a4dd0e168b90f81a0d26a0e

pkgname = mustang-bin
