pkgbase = dbgate-bin
	pkgdesc = Database manager for MySQL, PostgreSQL, SQL Server, MongoDB, SQLite and others.
	pkgver = 7.3.1
	pkgrel = 1
	url = https://www.dbgate.io/
	arch = x86_64
	license = GPL-3.0-or-later
	license = MIT
	depends = electron38
	provides = dbgate=7.3.1
	conflicts = dbgate
	source = dbgate-7.3.1.deb::https://github.com/dbgate/dbgate/releases/download/v7.3.1/dbgate-7.3.1-linux_amd64.deb
	source = LICENSE-7.3.1::https://raw.githubusercontent.com/dbgate/dbgate/v7.3.1/LICENSE
	source = dbgate.sh
	sha256sums = 0b3c5f0d7fead8457b92e9cfd715598d796595d4ab6953cf34d4510eef0dc49f
	sha256sums = 3972dc9744f6499f0f9b2dbf76696f2ae7ad8af9b23dde66d6af86c9dfb36986
	sha256sums = bd5358d8f323d3c2c2f0733364ee4ea55f551dd86ba0be2a76846210b60897fc

pkgname = dbgate-bin
